body{
  background-color: black;
}

header{
  color: darkred;
  font-family: 'Nosifer', cursive;
  text-align: left;
  display: block;
  padding-top: 20px;
  font-size: 40px;
}
main{
  margin-top: 2%;
}
#pentagram{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:75%;
  width:75%;
  z-index: 0;
}
#anthony{
  z-index: 1;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
#anthonyDiv{
  position: absolute;
  height: 100px;
  width: 100px;
  left: 35%;
  bottom: 9%;
  z-index: 1;
}
#andrea{
  z-index: 1;
  height: 100px;
  border-radius: 50%;
}
#andreaDiv{
  position: absolute;
  height: 100px;
  width: 100px;
  left: 67%;
  bottom: 50%;
}
#george{
  z-index: 1;
  height: 100px;
  border-radius: 50%;

}
#georgeDiv{
  position: absolute;
  height: 100px;
  width: 100px;
  left: 58%;
  bottom: 7%;
}
#zack{
  z-index: 1;
  height: 100px;
  border-radius: 50%;
}
#zackDiv{
  position: absolute;
  height: 100px;
  width: 100px;
  left: 46.5%;
  bottom: 79%;
  z-index: 3;
}
#roop{
  z-index: 1;
  height: 100px;
  width: 100px;
  border-radius: 50%;
}
#roopDiv{
  position: absolute;
  height: 100px;
  width: 100px;
  left: 26%;
  bottom: 49%;
}
.profile:hover{
  cursor: pointer;
  box-shadow: 0 0 30px red;
  border-radius: 50%;
}
.popup{
  color: black;
  background-color: rgba(214, 207, 207, 0.932);
  font-family: 'Titillium Web', sans-serif;
  font-size: 15px;
  font-weight: bolder;
  line-height: 1.25;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 7px;
}
.popup p:nth-child(1)
{
  margin-top: 10px;
  font-weight: bold;
  font-size: 20px;
}

.profile .popup{
  visibility: hidden;
}

.profile .popup{
  visibility: hidden;
  /* margin-left: -80px; */
}
#anthonyPopUp{
  width: 475px;
  height: 250px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 1%;
  right: 125%;
}
#georgePopUp{
  width: 450px;
  height: 250px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 1%;
  left: 125%;
}
#andreaPopUp{
  width: 360px;
  height: 300px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 1%;
  left: 125%;
}
#roopPopUp{
  width: 340px;
  height: 300px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  bottom: 1%;
  right: 125%;
}
#zackPopUp{
  width: 360px;
  height: 315px;
  border-radius: 6px;
  position: absolute;
  z-index: 1;
  top: 120%;
  right: -150%;
}

.profile .popup::after {
  content: "";
  /* position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px; */
  border-width: 5px;
  border-style: solid;
  border-color: black transparent transparent transparent;
}

.profile .show{
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s
}

@-webkit-keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 2;}
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}

a:link{
  color: darkred;
  text-decoration: none;
  font-weight: bolder;
}
a:visited{
  color: darkred;
  text-decoration: none;
  font-weight: bolder;
}

#sara {
  z-index: 1;
  position: absolute;
  height: 85px;
  width: 85px;
  border-radius: 50%;
  left: 47.5%;
  bottom: 41%;
}

#saraFire {
  z-index: 2;
  position: absolute;
  height: 29%;
  left: 45%;
  bottom: 48%;
}