#sara{
  z-index: 10;
  margin-left: 20%;
  margin-top: 2.5%;
}
#saraImage{

  height: 650px;
}
#victoryMenu{
  position: fixed;
  height: 40%;
  width: 30%;
  top: 4%;
  right: 2%;
  text-align: center;
  color: darkred;
  font-size: 40px;
  line-height: 1.25;
  border:solid 2px #000;
  border-radius: 7px;
  box-shadow:0 6px 6px -6px #000;
  background-image: radial-gradient(circle, rgb(172, 177, 179), rgb(8, 19, 22));
  font-family: Nosifer;
  z-index: 6;

}
#victoryMenu p:first-of-type{
  margin-top: 9.3%;
}
#victoryButtons{
  margin-top: 4%;
  display: flex;
  justify-content: space-between;
  width: 461px;
}
#youDied{
  background-color: black transparent;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 5;
}
#gameOver{
  padding-top: 2%;
  width: 100%;
  height: 75%;
  text-align: center;
  color: darkred;
  opacity: 90%;
  font-family: Nosifer;
  font-size: 150px;
  line-height: 1.5;
}

#victory{
  background-color: black;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 6;
}
#congrats{
  height: 40%;
  width: 30%;
  position: fixed;
  bottom: 4%;
  right: 2%;
  text-align: center;
  color: darkred;
  font-size: 28px;
  line-height: 1.5;
  border:solid 2px #000;
  border-radius: 7px;
  box-shadow:0 6px 6px -6px #000;
  display:inline-block;
  flex:1 1;
  background-image: radial-gradient(circle, rgb(172, 177, 179), rgb(8, 19, 22));
  font-family: 'Bangers', cursive;
  z-index: 10;
  
}
#menu{
  padding-top: 5%;
  display: flex;
  justify-content: space-evenly;
  width: 65%;
  margin-right: auto;
  margin-left: auto;
}
button {
  font-family: 'Nosifer', cursive;
  color: darkred;
  background-image:radial-gradient(circle, rgb(172, 177, 179), rgb(8, 19, 22));
}

a:link{
  color: darkred;
}
a:visited{
  color: darkred;
}
#victoryMenu{
  opacity: 0;
  animation: fadein2 19s ease-in 12s 1 normal forwards;
  -webkit-animation: fadein2 19s ease-in 12s 1 normal forwards;
  -moz-animation: fadein2 19s ease-in 12s 1 normal forwards;
  -o-animation: fadein2 19s ease-in 12s 1 normal forwards;
  -ms-animation: fadein2 19s ease-in 12s 1 normal forwards;
  
}

@keyframes fadein2{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein2{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}
@-moz-keyframes fadein2{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}
@-o-keyframes fadein2{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}
@-ms-keyframes fadein2{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}
#congrats{
  opacity: 0%;
  -webkit-animation: fadeinout 25s;
  -moz-animation: fadeInout 25s;
  -o-animation: fadeIn 25s;
  -ms-animation: fadeIn 25s;
  animation: fadeinout 25s;
}

@-webkit-keyframes fadeinout {
0%, 100% { opacity: 0; }
45% { opacity: 1; }
69% { opacity: 1; }
}

@keyframes fadeinout {
0%,100% { opacity: 0; }
45% { opacity: 1; }
69% { opacity: 1; }
}

.typewriter p:first-child {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  animation: animated-text 5.25s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
  animation-delay: 4s;
}
.typewriter p:nth-child(2) {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  animation: animated-text2 5.5s steps(29,end) 1s 1 normal both,
             animated-cursor2 600ms steps(29,end) infinite;
  animation-delay: 7s;
}
.typewriter p:nth-child(3) {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  animation: animated-text3 5.5s steps(29,end) 1s 1 normal both,
             animated-cursor3 600ms steps(29,end) infinite;
  animation-delay: 9.25s;
}
.typewriter p:nth-child(4) {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  animation: animated-text4 8s steps(29,end) 1s 1 normal both,
             animated-cursor4 600ms steps(29,end) infinite;
  animation-delay: 12.5s;
}
.typewriter p:nth-child(5) {
  white-space: nowrap;
  overflow: hidden;
  margin: 0 auto;
  animation: animated-text5 8s steps(29,end) 1s 1 normal both,
             animated-cursor5 600ms steps(29,end) infinite;
  animation-delay: 14.75s;
}

@keyframes animated-text{
  from{width: 0px;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}

@keyframes animated-text2{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor2{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
@keyframes animated-text3{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor3{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
@keyframes animated-text4{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor4{
  from{border-right-color: rgba(0,255,0,.75);}
  to{border-right-color: transparent;}
}
@keyframes animated-text5{
  from{width: 0;}
  to{width: 472px;}
}

/* cursor animations */

@keyframes animated-cursor5{
  from{border-right-color: darkred}
  to{border-right-color: transparent;}
}
.typewriter p:first-of-type{
  margin-top: 9%;
}

#saraImage{
  animation: fadeIn 60s;
  -webkit-animation: fadeIn 60s;
  -moz-animation: fadeIn 60s;
  -o-animation: fadeIn 60s;
  -ms-animation: fadeIn 60s;
}
@keyframes fadeIn {
  0%,100% {opacity:0;}
  20% {opacity:0.00;}
  30% {opacity:0.06;}
  33% {opacity:0.08;}
  36% {opacity:0.1;}
  39% {opacity:0.15;}
  44% {opacity:0.25;}
  48% {opacity:0.3;}
  52% {opacity:0.5;}
  55% {opacity:0.55;}
  58% {opacity:0.6;}
  62% {opacity:0.7;}
  64% {opacity:0.8;}
  67% {opacity:0.85;}
  70% {opacity:0.9;}
  100% {opacity:1;}
}

@-moz-keyframes fadeIn {
  0%,100% {opacity:0;}
  20% {opacity:0.00;}
  30% {opacity:0.06;}
  33% {opacity:0.08;}
  36% {opacity:0.1;}
  39% {opacity:0.15;}
  44% {opacity:0.25;}
  48% {opacity:0.3;}
  52% {opacity:0.5;}
  55% {opacity:0.55;}
  58% {opacity:0.6;}
  62% {opacity:0.7;}
  64% {opacity:0.8;}
  67% {opacity:0.85;}
  70% {opacity:0.9;}
  100% {opacity:1;}
}

@-webkit-keyframes fadeIn {
  0%,100% {opacity:0;}
  20% {opacity:0.00;}
  30% {opacity:0.06;}
  33% {opacity:0.08;}
  36% {opacity:0.1;}
  39% {opacity:0.15;}
  44% {opacity:0.25;}
  48% {opacity:0.3;}
  52% {opacity:0.5;}
  55% {opacity:0.55;}
  58% {opacity:0.6;}
  62% {opacity:0.7;}
  64% {opacity:0.8;}
  67% {opacity:0.85;}
  70% {opacity:0.9;}
  100% {opacity:1;}
}
@-o-keyframes fadeIn {
  0%,100% {opacity:0;}
  20% {opacity:0.00;}
  30% {opacity:0.06;}
  33% {opacity:0.08;}
  36% {opacity:0.1;}
  39% {opacity:0.15;}
  44% {opacity:0.25;}
  48% {opacity:0.3;}
  52% {opacity:0.5;}
  55% {opacity:0.55;}
  58% {opacity:0.6;}
  62% {opacity:0.7;}
  64% {opacity:0.8;}
  67% {opacity:0.85;}
  70% {opacity:0.9;}
  100% {opacity:1;}
}
@-ms-keyframes fadeIn {
  0%,100% {opacity:0;}
  20% {opacity:0.00;}
  30% {opacity:0.06;}
  33% {opacity:0.08;}
  36% {opacity:0.1;}
  39% {opacity:0.15;}
  44% {opacity:0.25;}
  48% {opacity:0.3;}
  52% {opacity:0.5;}
  55% {opacity:0.55;}
  58% {opacity:0.6;}
  62% {opacity:0.7;}
  64% {opacity:0.8;}
  67% {opacity:0.85;}
  70% {opacity:0.9;}
  100% {opacity:1;}
}